<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="@string/app_version"
    package="com.canaan.lockbible" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:excludeFromRecents="true"
            android:name=".Activity.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.LockActivity"
                  android:excludeFromRecents="true"
            >
        </activity>

        <activity android:name=".Activity.AddVerseActivity"
                  android:excludeFromRecents="true"
            >
        </activity>

        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity"
            android:theme="@style/FeedBack_Theme"
            >

        </activity>
        
        <service android:name="com.canaan.lockbible.Service.LockScreenService"/>

        <meta-data android:value="5534c13867e58e51fd001b87" android:name="UMENG_APPKEY"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true">
        </activity>
    </application>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
